#  Data Cleaning ‚Äì Handling Missing Values (Drop & Fill)

- Missing values (also called NaN, NULL, or None) are very common in real-world datasets.
- For example:
  - a customer might not provide their age, or
  - a sensor might fail to record a temperature.

üëâ We need to clean such data before analysis or machine learning.

Step 1. Import Libraries

In [1]:
#Import Libraries
import pandas as pd

Step 2. Create a Sample Dataset

In [2]:
#Create a Sample Dataset
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Age": [25, None, 30, None, 22],         # Some ages are missing (None)
    "City": ["New York", "London", None, "Sydney", None],  # Some cities missing
    "Salary": [50000, 60000, None, 55000, 45000]           # One salary missing
}

df = pd.DataFrame(data)

print("üîπ Original DataFrame with Missing Values:\n", df)

üîπ Original DataFrame with Missing Values:
       Name   Age      City   Salary
0    Alice  25.0  New York  50000.0
1      Bob   NaN    London  60000.0
2  Charlie  30.0      None      NaN
3    David   NaN    Sydney  55000.0
4      Eve  22.0      None  45000.0

Step 3. Detect Missing Values

In [3]:
#Detect Missing Values
print("\nüîπ Missing values per column:\n", df.isnull().sum())

üîπ Missing values per column:
 Name      0
Age       2
City      2
Salary    1
dtype: int64

In [4]:
df.isnull()

    Name    Age   City  Salary
0  False  False  False   False
1  False   True  False   False
2  False  False   True    True
3  False   True  False   False
4  False  False   True   False

In [5]:
df.isnull().sum()

Name      0
Age       2
City      2
Salary    1
dtype: int64

- isnull() ‚Üí finds where values are missing (True for missing, False otherwise).

- sum() ‚Üí counts them per column.

Step 4. Dropping Missing Values

Sometimes, missing values are too many or too important to guess, so we remove them.

In [7]:
# (a) Drop rows where ANY value is missing
print("üîπ Original DataFrame with Missing Values:\n", df)
df_drop_rows = df.dropna()
print("\nüîπ After dropping rows with missing values:\n", df_drop_rows)

üîπ Original DataFrame with Missing Values:
       Name   Age      City   Salary
0    Alice  25.0  New York  50000.0
1      Bob   NaN    London  60000.0
2  Charlie  30.0      None      NaN
3    David   NaN    Sydney  55000.0
4      Eve  22.0      None  45000.0

üîπ After dropping rows with missing values:
     Name   Age      City   Salary
0  Alice  25.0  New York  50000.0

In [8]:
# (b) Drop columns where ANY value is missing
print("üîπ Original DataFrame with Missing Values:\n", df)

df_drop_cols = df.dropna(axis=1)
print("\nüîπ After dropping columns with missing values:\n", df_drop_cols)

üîπ Original DataFrame with Missing Values:
       Name   Age      City   Salary
0    Alice  25.0  New York  50000.0
1      Bob   NaN    London  60000.0
2  Charlie  30.0      None      NaN
3    David   NaN    Sydney  55000.0
4      Eve  22.0      None  45000.0

üîπ After dropping columns with missing values:
       Name
0    Alice
1      Bob
2  Charlie
3    David
4      Eve

üìå Concept:

- dropna() (default) ‚Üí removes rows with at least one missing value.

- dropna(axis=1) ‚Üí removes columns with missing values.

‚ö†Ô∏è Warning: Dropping can reduce data size, so use carefully.

Step 5. Filling Missing Values

Instead of dropping, we can fill (impute) missing values with meaningful replacements.

(a) Fill with a Constant Value

In [9]:
# Replace all missing values with the string "Unknown"
print("üîπ Original DataFrame with Missing Values:\n", df)
df_fill_constant = df.fillna("Unknown")
print("\nüîπ Fill missing values with 'Unknown':\n", df_fill_constant)

üîπ Original DataFrame with Missing Values:
       Name   Age      City   Salary
0    Alice  25.0  New York  50000.0
1      Bob   NaN    London  60000.0
2  Charlie  30.0      None      NaN
3    David   NaN    Sydney  55000.0
4      Eve  22.0      None  45000.0

üîπ Fill missing values with 'Unknown':
       Name      Age      City   Salary
0    Alice     25.0  New York  50000.0
1      Bob  Unknown    London  60000.0
2  Charlie     30.0   Unknown  Unknown
3    David  Unknown    Sydney  55000.0
4      Eve     22.0   Unknown  45000.0

üìå Concept: Useful for categorical/text columns when you don‚Äôt want to drop data.

(b) Fill Numerical Columns with Mean / Median

In [10]:
# Fill 'Age' with the median (middle value of available ages)
# Fill 'Salary' with the mean (average salary)
print("üîπ Original DataFrame with Missing Values:\n", df)

df["Age"] = df["Age"].fillna(df["Age"].median())
df["Salary"] = df["Salary"].fillna(df["Salary"].mean())

print("\nüîπ After filling numerical columns (Age & Salary):\n", df)

üîπ Original DataFrame with Missing Values:
       Name   Age      City   Salary
0    Alice  25.0  New York  50000.0
1      Bob   NaN    London  60000.0
2  Charlie  30.0      None      NaN
3    David   NaN    Sydney  55000.0
4      Eve  22.0      None  45000.0

üîπ After filling numerical columns (Age & Salary):
       Name   Age      City   Salary
0    Alice  25.0  New York  50000.0
1      Bob  25.0    London  60000.0
2  Charlie  30.0      None  52500.0
3    David  25.0    Sydney  55000.0
4      Eve  22.0      None  45000.0

üìå Concept:

Mean (average) works well if data is normally distributed.

Median (middle value) is better when data has outliers (e.g., very high salaries).

- using the mean (average) to summarize data works best when the data is normally distributed (i.e., symmetrical and bell-shaped).

#### ‚úÖ Why Mean Works Well with Normal Distribution:

In a normal distribution, the mean = median = mode.

The data is evenly spread around the mean, so it gives a reliable central value.

It is efficient and informative when there are no extreme outliers.

#### ‚ö†Ô∏è When Mean Doesn't Work Well:

If the data is skewed or has outliers, the mean can be misleading.

Example:
| Values              | Mean                                   |
| ------------------- | -------------------------------------- |
| 10, 12, 13, 14, 500 | **109.8** ‚Üê not a good representation! |

In this case, the median (13) would be a much better measure of central tendency.

üß† Rule of Thumb:
| Data Type               | Best Central Measure |
| ----------------------- | -------------------- |
| Normally distributed    | **Mean**             |
| Skewed or with outliers | **Median**           |
| Categorical             | **Mode**             |

üìå Summary:

- ‚úÖ Use Mean: When data is symmetrical and free of outliers.
- ‚ö†Ô∏è Use Median: When data is skewed or contains outliers.

(c) Fill Categorical Columns with Mode

In [11]:
# Fill missing 'City' values with the most frequent city (mode)
print("üîπ Original DataFrame with Missing Values:\n", df)


df["City"]=df["City"].fillna(df["City"].mode()[0])

print("\nüîπ After filling categorical column (City):\n", df)

üîπ Original DataFrame with Missing Values:
       Name   Age      City   Salary
0    Alice  25.0  New York  50000.0
1      Bob  25.0    London  60000.0
2  Charlie  30.0      None  52500.0
3    David  25.0    Sydney  55000.0
4      Eve  22.0      None  45000.0

üîπ After filling categorical column (City):
       Name   Age      City   Salary
0    Alice  25.0  New York  50000.0
1      Bob  25.0    London  60000.0
2  Charlie  30.0    London  52500.0
3    David  25.0    Sydney  55000.0
4      Eve  22.0    London  45000.0

mode()[0]

.mode() returns a Series because there can be multiple modes if there are several values that appear the same number of times (e.g., two values both appear 3 times).

.mode()[0] takes the first mode in the list (or the most frequent value if there's only one mode). The [0] is used to get the first element from the Series.

üìå Concept:

- Mode = most frequent value.

- Best for categorical data like cities, product categories, or genders.

‚úÖ Final Result

In [12]:
print("\n‚úÖ Final Cleaned DataFrame:\n", df)

‚úÖ Final Cleaned DataFrame:
       Name   Age      City   Salary
0    Alice  25.0  New York  50000.0
1      Bob  25.0    London  60000.0
2  Charlie  30.0    London  52500.0
3    David  25.0    Sydney  55000.0
4      Eve  22.0    London  45000.0

üéØ  Takeaways

- Dropping missing values

    - Use when too many values are missing or the column is not useful.

- Filling missing values

    - Numerical ‚Üí Mean / Median.

    - Categorical ‚Üí Mode.

    - Constant ‚Üí "Unknown" / 0.

Why clean data?

- Machine learning models cannot handle missing values directly.

- Clean data improves accuracy and reliability of analysis.

#üßπ Data Cleaning ‚Äì Duplicates & Inconsistencies

1. Import Pandas

In [13]:
import pandas as pd

2. Create a Sample Dataset

This dataset has duplicate rows and inconsistent text entries (e.g., "new york", "New York ", "NEW YORK").

In [14]:
data = {
    "ID": [1, 2, 3, 4, 4, 5],
    "Name": ["Alice", "Bob", "Charlie", "David", "David", "Eve"],
    "City": ["New York", "new york", "London", "Sydney", "Sydney", " LONDON "],
    "Age": [25, 30, 30, 40, 40, 22]
}

df = pd.DataFrame(data)
print("üîπ Original DataFrame:\n", df)

üîπ Original DataFrame:
    ID     Name      City  Age
0   1    Alice  New York   25
1   2      Bob  new york   30
2   3  Charlie    London   30
3   4    David    Sydney   40
4   4    David    Sydney   40
5   5      Eve   LONDON    22

3. Detect and Remove Duplicates

In [15]:
print("üîπ Original DataFrame:\n", df)

# Check for duplicate rows - duplicated() ‚Üí flags rows that are duplicates.

print("\nüîπ Number of duplicate rows:", df.duplicated().sum())

üîπ Original DataFrame:
    ID     Name      City  Age
0   1    Alice  New York   25
1   2      Bob  new york   30
2   3  Charlie    London   30
3   4    David    Sydney   40
4   4    David    Sydney   40
5   5      Eve   LONDON    22

üîπ Number of duplicate rows: 1

In [16]:
print("üîπ Original DataFrame:\n", df)

# Drop duplicate rows (keep first occurrence) - Index 4 / Row 5 is deleted
df_no_duplicates = df.drop_duplicates()
print("\nüîπ DataFrame after removing duplicates:\n", df_no_duplicates)

üîπ Original DataFrame:
    ID     Name      City  Age
0   1    Alice  New York   25
1   2      Bob  new york   30
2   3  Charlie    London   30
3   4    David    Sydney   40
4   4    David    Sydney   40
5   5      Eve   LONDON    22

üîπ DataFrame after removing duplicates:
    ID     Name      City  Age
0   1    Alice  New York   25
1   2      Bob  new york   30
2   3  Charlie    London   30
3   4    David    Sydney   40
5   5      Eve   LONDON    22

üìå Concept:

- duplicated() ‚Üí flags rows that are duplicates.

- drop_duplicates() ‚Üí removes duplicate rows.
---


- keep="first" (default) ‚Üí keeps the first occurrence, removes others.
- import pandas as pd
- df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Alice', 'David', 'Bob']
})
- df_unique = df.drop_duplicates(keep='first')
- print(df_unique)

4. Detect Inconsistencies

Look at the City column:

"New York" vs "new york" (case difference).

" LONDON " (extra spaces).

"London" vs "LONDON" (capitalization issue).

5. Fix Inconsistencies

In [17]:
# Standardize text data in the "City" column using .loc
# Remember .loc, which is pandas‚Äô label-based indexer. It's used to select rows and columns from a DataFrame using labels (not numeric positions like .iloc).
print("\nüîπ DataFrame after removing duplicates:\n", df_no_duplicates)

df_no_duplicates.loc[:, "City"] = (
    df_no_duplicates["City"]
    .str.strip()      # remove leading/trailing spaces
    .str.title()      # convert to title case (e.g., "new york" -> "New York")
)

print("\nüîπ DataFrame after fixing inconsistencies:\n", df_no_duplicates)

üîπ DataFrame after removing duplicates:
    ID     Name      City  Age
0   1    Alice  New York   25
1   2      Bob  new york   30
2   3  Charlie    London   30
3   4    David    Sydney   40
5   5      Eve   LONDON    22

üîπ DataFrame after fixing inconsistencies:
    ID     Name      City  Age
0   1    Alice  New York   25
1   2      Bob  New York   30
2   3  Charlie    London   30
3   4    David    Sydney   40
5   5      Eve    London   22

"Select all rows (:) from the 'City' column ("City") in the df_no_duplicates DataFrame."


| Part               | Meaning                                 |
| ------------------ | --------------------------------------- |
| `df_no_duplicates` | The DataFrame you're working with.      |
| `.loc`             | Label-based selection method in pandas. |
| `:`                | Select **all rows**.                    |
| `"City"`           | Select the column named `"City"`.       |


üìå Concept:

- .str.strip() ‚Üí removes spaces.

- .str.lower() ‚Üí makes all text lowercase.

- .str.upper() ‚Üí makes all text uppercase.

- .str.title() ‚Üí makes text Title Case (e.g., ‚Äúnew york‚Äù ‚Üí ‚ÄúNew York‚Äù).

‚úÖ Final Clean Dataset

After cleaning:

  - No duplicates.

  - Consistent city names.

In [18]:
print("\n‚úÖ Final Cleaned DataFrame:\n", df_no_duplicates)

‚úÖ Final Cleaned DataFrame:
    ID     Name      City  Age
0   1    Alice  New York   25
1   2      Bob  New York   30
2   3  Charlie    London   30
3   4    David    Sydney   40
5   5      Eve    London   22

üéØ Takeaways

Duplicates

  - Can happen due to data entry errors or merging datasets.

  - Always check with .duplicated() and clean with .drop_duplicates().

Inconsistencies

  - Common in text data (e.g., "NYC", "nyc", "New york").

  - Fix using string functions: .str.lower(), .str.strip(), .str.title().

Why important?

  - Duplicates bias results (a customer counted twice).

  - Inconsistencies make grouping/analysis wrong (e.g., ‚ÄúLondon‚Äù vs ‚Äú LONDON ‚Äù treated as different cities).

#üßπ Data Cleaning ‚Äì Encoding Categorical Features

Machine learning models cannot work with text directly.
We need to convert categorical (text) data into numbers.

There are two main approaches:

  - Label Encoding (good for binary categories).

  - One-Hot Encoding (good for multi-category features).

1. Import Pandas

In [19]:
import pandas as pd

2. Create a Sample Dataset

In [20]:
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Gender": ["Female", "Male", "Male", "Male", "Female"],   # Binary categorical
    "City": ["New York", "London", "Sydney", "London", "Paris"]  # Multi-class categorical
}

df = pd.DataFrame(data)
print("üîπ Original DataFrame:\n", df)

üîπ Original DataFrame:
       Name  Gender      City
0    Alice  Female  New York
1      Bob    Male    London
2  Charlie    Male    Sydney
3    David    Male    London
4      Eve  Female     Paris

3. Label Encoding (Binary Categories)

üëâ Used when a column has only two categories.
Example: "Male" ‚Üí 0, "Female" ‚Üí 1.

In [21]:
print("üîπ Original DataFrame:\n", df)

# Map Male/Female to numbers
df["Gender"] = df["Gender"].map({"Male": 0, "Female": 1})

print("\nüîπ After Label Encoding (Gender):\n", df)

üîπ Original DataFrame:
       Name  Gender      City
0    Alice  Female  New York
1      Bob    Male    London
2  Charlie    Male    Sydney
3    David    Male    London
4      Eve  Female     Paris

üîπ After Label Encoding (Gender):
       Name  Gender      City
0    Alice       1  New York
1      Bob       0    London
2  Charlie       0    Sydney
3    David       0    London
4      Eve       1     Paris

üìå Concept:

  - Quick and simple.

  - Works only for binary categories.

4. One-Hot Encoding (Multi-Class Categories)

üëâ Used when a column has more than two categories.
Example: "City" ‚Üí creates multiple columns: "City_London", "City_Paris", "City_New York", etc.

In [22]:
print("üîπ Current DataFrame:\n", df)

# Convert City column into multiple binary (0/1) columns
df_encoded = pd.get_dummies(df, columns=["City"])

print("\nüîπ After One-Hot Encoding (City):\n", df_encoded)

üîπ Current DataFrame:
       Name  Gender      City
0    Alice       1  New York
1      Bob       0    London
2  Charlie       0    Sydney
3    David       0    London
4      Eve       1     Paris

üîπ After One-Hot Encoding (City):
       Name  Gender  City_London  City_New York  City_Paris  City_Sydney
0    Alice       1        False           True       False        False
1      Bob       0         True          False       False        False
2  Charlie       0        False          False       False         True
3    David       0         True          False       False        False
4      Eve       1        False          False        True        False

üìå Concept:

  - Each category becomes its own column.

‚úÖ Final Encoded DataFrame

In [23]:
print("\n‚úÖ Final DataFrame ready for Machine Learning:\n", df_encoded)

‚úÖ Final DataFrame ready for Machine Learning:
       Name  Gender  City_London  City_New York  City_Paris  City_Sydney
0    Alice       1        False           True       False        False
1      Bob       0         True          False       False        False
2  Charlie       0        False          False       False         True
3    David       0         True          False       False        False
4      Eve       1        False          False        True        False

üéØ Takeaways

* Label Encoding

  - Best for binary categories (e.g., Male/Female, Yes/No).

  - Converts categories ‚Üí numbers directly.

* One-Hot Encoding

  - Best for multi-category features (e.g., City names, Colors).

  - Creates new columns with 0/1 flags.

Why important?

ML models (like Logistic Regression, Random Forests, Neural Networks) only understand numbers, not text.

# Titanic Dataset Cleaning ‚Äì Detailed Walkthrough

üéØ Objective

use it for binary classification:

Can we predict whether a passenger survived or not based on the features?

1. Load the Titanic Dataset

In [24]:
import pandas as pd
import seaborn as sns

# Load Titanic dataset (available in seaborn)
df = sns.load_dataset("titanic")

print("Initial Shape:", df.shape)
print(df.head())
print(df.info())

Initial Shape: (891, 15)
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None

2. Check Missing Values

In [25]:
print(df.isnull().sum())

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

Common issues in Titanic dataset:

  - age: many missing values

  - deck: heavily missing (often dropped)

  - embarked: a few missing values

  - embark_town: similar to embarked

  embarked is a column with the embarkation port code (like C, Q, S), and it may have missing values due to incomplete records.

embark_town is a more descriptive version of the same information, containing the full names of the towns (like Cherbourg, Queenstown, Southampton).

The two columns are very similar but provide different formats for the same data: one is a coded version (embarked), and the other is a full-text version (embark_town).

To handle missing values in embarked, you can either fill them with the mode of the column, use values from embark_town, or drop rows with missing data.

Why Do We Use Both Columns (embarked and embark_town)?

Different Use Cases:

embarked is better for machine learning and data processing because it's more compact (i.e., it uses fewer characters), and machine learning models often prefer categorical variables to be encoded as numeric values or with simpler categorical codes.

embark_town is better for human-readable reports or when you need to present the data to non-technical users because it's more descriptive and easier to understand.

Flexibility:

Keeping both columns provides flexibility. For example, if you need to perform some analysis or visualization, having embark_town can be more useful. But for modeling, the simpler embarked (with its codes) may be preferred.

Correlation:

Since both columns represent the same information (embarkation point), you can use one column over the other depending on your specific needs. If you're building a predictive model, you can often drop one column if you don‚Äôt need both, as they are highly correlated.

3. Handle Missing Values
(a) Drop Columns with Too Many Missing Values

In [26]:
print(df.head())
# Drop 'deck' (too many NaNs)
# Assign to a new variable. Keeps the original DataFrame unchanged:
# removing the 'deck' column from your DataFrame df because it contains too many missing values (NaNs).
df_cleaned = df.drop(columns=["deck"])
print(df_cleaned.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male  embark_town alive  alone
0    man        True  Southampton    no  False
1  woman       False    Cherbourg   yes  False
2  woman       False  Southampton   yes   True
3  woman       False  Southampton   yes  False
4    man        True  Southampton    no   True

In [27]:
df_cleaned

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,Queenstown,no,True

(b) Fill Missing Values

In [28]:
print(df_cleaned.head())
# Age ‚Üí fill with median (robust to outliers)
# Fill missing 'age' values with the median
df_cleaned.loc[:, "age"] = df_cleaned["age"].fillna(df_cleaned["age"].median())

# Embarked ‚Üí fill with mode (most frequent category) # is used to get the most frequent (mode) value in the embarked column of a DataFrame df.
# This fills all missing values in embarked with the most common value (usually 'S').
# Fill missing 'embarked' values with the mode (most frequent value)
df_cleaned.loc[:, "embarked"] = df_cleaned["embarked"].fillna(df_cleaned["embarked"].mode()[0])

# Fill missing 'embark_town' values with the mode
df_cleaned.loc[:, "embark_town"] = df_cleaned["embark_town"].fillna(df_cleaned["embark_town"].mode()[0])

# Who ‚Üí drop rows if still missing
# Drop rows where 'who' is missing
# This deals with removing rows with missing values in a specific column.
df_cleaned.dropna(subset=["who"], inplace=True)
print(df_cleaned.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male  embark_town alive  alone
0    man        True  Southampton    no  False
1  woman       False    Cherbourg   yes  False
2  woman       False  Southampton   yes   True
3  woman       False  Southampton   yes  False
4    man        True  Southampton    no   True
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male  embark_town alive  alone
0    man        True  Southampton    no  False
1  woman       False    Cherbourg   yes  False
2  woman       False  Southampton   yes   True
3  woman       False  Southampton   yes  False
4    man        True  Southampton    no   True

In [29]:
df_cleaned

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,Southampton,yes,True
888,0,3,female,28.0,1,2,23.4500,S,Third,woman,False,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,Queenstown,no,True

df_cleaned.loc[:, "age"] = df_cleaned["age"].fillna(df_cleaned["age"].median())

üëâ Example: If ages are [25, NaN, 30, NaN, 22], median = 25.
After filling ‚Üí [25, 25, 30, 25, 22].

df_cleaned.loc[:, "embarked"] = df_cleaned["embarked"].fillna(df_cleaned["embarked"].mode()[0])

üîπ Before Cleaning:
      name embarked
0    Alice        S
1      Bob     None
2  Charlie        C
3    David     None
4      Eve        S

‚úÖ After Cleaning (NaN replaced with mode):
      name embarked
0    Alice        S
1      Bob        S
2  Charlie        C
3    David        S
4      Eve        S

 .mode()[0]

mode() returns the most frequent (common) value in a column.

[0] is used because mode() returns a Series (list-like), even if there‚Äôs only one value.

Example: If "S" occurs most often, then df_cleaned["embarked"].mode()[0] ‚Üí "S".

df_cleaned.loc[:, "embark_town"] = df_cleaned["embark_town"].fillna(df_cleaned["embark_town"].mode()[0])
üîπ Before Cleaning:
      name  embark_town
0    Alice  Southampton
1      Bob         None
2  Charlie    Cherbourg
3    David         None
4      Eve  Southampton

.mode()[0]

mode() finds the most frequent (common) value in the column.

[0] is used because mode() returns a Series, and we want just the first value.

Example: If "Southampton" appears most often, then .mode()[0] ‚Üí "Southampton".

‚úÖ After Cleaning:
      name  embark_town
0    Alice  Southampton
1      Bob  Southampton
2  Charlie    Cherbourg
3    David  Southampton
4      Eve  Southampton

# This deals with removing rows with missing values in a specific column.
df_cleaned.dropna(subset=["who"], inplace=True)

1. dropna(subset=["who"])

Normally, dropna() removes rows where any column has NaN.
By using subset=["who"], we only look at the who column.
If a row has NaN in "who", that entire row will be dropped.
üëâ Example: "who" in the Titanic dataset usually contains passenger type:

"man", "woman", "child".

In [30]:
# Preview cleaned DataFrame
df_cleaned.head(10)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,Southampton,no,True
5,0,3,male,28.0,0,0,8.4583,Q,Third,man,True,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,Southampton,no,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,Cherbourg,yes,False

üîç Breakdown:
1. df["embarked"]

This accesses the embarked column from the DataFrame.

The embarked column typically contains values like:

'C' (Cherbourg)

'Q' (Queenstown)

'S' (Southampton)

2. .mode()

This returns a Series of the most frequently occurring value(s).

If there are multiple values tied for the highest frequency, it returns all modes.

Example:df["embarked"].mode()

-Output (hypothetical):
- 0    S
- dtype: object

3. [0]
Since .mode() returns a Series, [0] retrieves the first (or only) mode.

In most real-world Titanic datasets, 'S' (Southampton) is the most common port, so:
df["embarked"].mode()[0]  # Likely returns 'S'

‚úÖ Summary

| Part             | Meaning                        |
| ---------------- | ------------------------------ |
| `df["embarked"]` | Select the `'embarked'` column |
| `.mode()`        | Get the most common value(s)   |
| `[0]`            | Take the first (or only) mode  |
| Whole expression | Most frequent embarkation port |

üîπ Why?

- Median is better than mean when data is skewed.

- Mode works best for categorical features.

üîç What df_cleaned Contains

After this process:

- All essential missing values are handled.

- No 'deck' column (dropped).

- Columns like 'age', 'embarked', and 'embark_town' have no missing values.

- 'who' column has no missing rows ‚Äî dropped if necessary.

- The DataFrame is clean and ready for EDA, visualization, or modeling.

4. Handle Duplicates

In [31]:
# üîç Check for duplicates before removal
print("üîÅ Duplicates before:", df_cleaned.duplicated().sum())

# ‚ùå Remove duplicate rows in place
df_cleaned.drop_duplicates(inplace=True)

# ‚úÖ Confirm duplicates are removed
print("‚úÖ Duplicates after:", df_cleaned.duplicated().sum())

üîÅ Duplicates before: 116
‚úÖ Duplicates after: 0

üîπ Why? Duplicates can bias model training.

5. Fix Inconsistencies

In [32]:
# üßπ Clean the 'sex' column: lowercase and strip whitespace
df_cleaned.loc[:, "sex"] = df_cleaned["sex"].astype(str).str.lower().str.strip()

üîπ Why? Strings may have inconsistencies like " Male ", "male", "MALE".

| Change                     | Why it Matters                                                         |
| -------------------------- | ---------------------------------------------------------------------- |
| `df_cleaned`               | Use the cleaned copy (not the original `df`)                           |
| `.loc[:, "sex"] = ...`     | Avoids `SettingWithCopyWarning`                                        |
| `.astype(str)`             | Handles missing (NaN) or unexpected non-string values gracefully       |
| `.str.lower().str.strip()` | Ensures values like `' Male '`, `'FEMALE'` become `'male'`, `'female'` |

6. Encode Categorical Features
(a) Label Encoding (binary features)

In [34]:
# üîÅ Encode 'sex' column: male ‚Üí 0, female ‚Üí 1
df_cleaned.loc[:, "sex"] = df_cleaned["sex"].map({"male": 0, "female": 1})

(b) One-Hot Encoding (multi-class features)

In [35]:
# üîÑ One-hot encode 'class' and 'embarked';
df_cleaned = pd.get_dummies(df_cleaned, columns=["class", "embarked"])

In [36]:
print(df_cleaned)

     survived  pclass sex   age  sibsp  parch     fare    who  adult_male  \
0           0       3   0  22.0      1      0   7.2500    man        True
1           1       1   1  38.0      1      0  71.2833  woman       False
2           1       3   1  26.0      0      0   7.9250  woman       False
3           1       1   1  35.0      1      0  53.1000  woman       False
4           0       3   0  35.0      0      0   8.0500    man        True
..        ...     ...  ..   ...    ...    ...      ...    ...         ...
885         0       3   1  39.0      0      5  29.1250  woman       False
887         1       1   1  19.0      0      0  30.0000  woman       False
888         0       3   1  28.0      1      2  23.4500  woman       False
889         1       1   0  26.0      0      0  30.0000    man        True
890         0       3   0  32.0      0      0   7.7500    man        True

     embark_town alive  alone  class_First  class_Second  class_Third  \
0    Southampton    no  False        False         False         True
1      Cherbourg   yes  False         True         False        False
2    Southampton   yes   True        False         False         True
3    Southampton   yes  False         True         False        False
4    Southampton    no   True        False         False         True
..           ...   ...    ...          ...           ...          ...
885   Queenstown    no  False        False         False         True
887  Southampton   yes   True         True         False        False
888  Southampton    no  False        False         False         True
889    Cherbourg   yes   True         True         False        False
890   Queenstown    no   True        False         False         True

     embarked_C  embarked_Q  embarked_S
0         False       False        True
1          True       False       False
2         False       False        True
3         False       False        True
4         False       False        True
..          ...         ...         ...
885       False        True       False
887       False       False        True
888       False       False        True
889        True       False       False
890       False        True       False

[775 rows x 18 columns]

| Change             | Why                                                                         |
| ------------------ | --------------------------------------------------------------------------- |
| `df_cleaned = ...` | Ensures you're transforming the **cleaned** DataFrame, not the raw one      |
| `drop_first=True`  | Avoids the dummy variable trap (perfect multicollinearity) in linear models |
| Clear comment      | Helps you and others understand the rationale later                         |

üîπ Why? Machine learning models work better with numeric features.

7. Normalize / Scale Numerical Features (Optional)

In [37]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df[["age", "fare"]] = scaler.fit_transform(df[["age", "fare"]])

üîπ Why? Scaling ensures all features contribute equally (important for distance-based models).

 8. Final Clean Dataset

In [38]:
print("Final Shape:", df.shape)
print("Final Shape:", df_cleaned.shape)

print(df_cleaned.head())
print(df_cleaned.info())

Final Shape: (891, 15)
Final Shape: (775, 18)
   survived  pclass sex   age  sibsp  parch     fare    who  adult_male  \
0         0       3   0  22.0      1      0   7.2500    man        True
1         1       1   1  38.0      1      0  71.2833  woman       False
2         1       3   1  26.0      0      0   7.9250  woman       False
3         1       1   1  35.0      1      0  53.1000  woman       False
4         0       3   0  35.0      0      0   8.0500    man        True

   embark_town alive  alone  class_First  class_Second  class_Third  \
0  Southampton    no  False        False         False         True
1    Cherbourg   yes  False         True         False        False
2  Southampton   yes   True        False         False         True
3  Southampton   yes  False         True         False        False
4  Southampton    no   True        False         False         True

   embarked_C  embarked_Q  embarked_S
0       False       False        True
1        True       False       False
2       False       False        True
3       False       False        True
4       False       False        True
<class 'pandas.core.frame.DataFrame'>
Index: 775 entries, 0 to 890
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   survived      775 non-null    int64
 1   pclass        775 non-null    int64
 2   sex           775 non-null    object
 3   age           775 non-null    float64
 4   sibsp         775 non-null    int64
 5   parch         775 non-null    int64
 6   fare          775 non-null    float64
 7   who           775 non-null    object
 8   adult_male    775 non-null    bool
 9   embark_town   775 non-null    object
 10  alive         775 non-null    object
 11  alone         775 non-null    bool
 12  class_First   775 non-null    bool
 13  class_Second  775 non-null    bool
 14  class_Third   775 non-null    bool
 15  embarked_C    775 non-null    bool
 16  embarked_Q    775 non-null    bool
 17  embarked_S    775 non-null    bool
dtypes: bool(8), float64(2), int64(4), object(4)
memory usage: 72.7+ KB
None

‚úÖ Outcome

After cleaning:

Missing values: handled with median/mode or dropped.

Duplicates: removed.

Inconsistencies: fixed (sex column cleaned).

Categorical features: converted to numeric.

Numerical features: scaled.

Dataset is now ready for machine learning.